*.pyc
*.orig
.DS_Store
.DS_Store?
bin/
include/
lib/
lib64
.Python
settings_local.py
app/static_files/.sass-cache/
app/static_files/sass/.sass-cache/
app/static_files/js/virus/*.js
app/static_files/css/*.css
app/static/
.vagrant*
data_bags/
