Amara
Django==1.4.5
Fabric
PIL
PyYAML
South
celery
celery-with-redis
django-annoying
django-celery
django-debug-toolbar
django-mediagenerator
django-supervisor
django-tastypie
django-pipeline
django-extensions
django-suit
git+git://github.com/jsocol/django-adminplus#egg=django-adminplus
git+git://github.com/TSRI/django-pipeline-compass
werkzeug
gunicorn
redis
urllib3
MySQL-python
nose
requests
kombu
envoy
honcho
