
section#virus-info
  +column(21, true)
  +prepend(3)
  margin-top: 15px

  div#virus-images
    +column(5)

    .small-images
      display: inline-block

  img.virus-image
    +column(2, true)
    margin-top: 10px
    margin: 5px 5px 0px 0px

  img.main
    +column(5)

  div#virus-biodata
    +column(16, true)

    p.biodata-row
      margin: 5px 0 5px 0

      &.name
        font-size: 1.75em


section#accessible-surface-profiles
  +column(21, true)
  +push(3)

  .js-asa-chart
    border: 1px solid black
    margin-bottom: 15px

