
.name
  font-size: 1.75em
  margin-bottom: 0px

section.info-section
  +column(24, true)

section#virus-info
  +column(19)
  #virus-nav
    margin: 5px 0 5px 0
    padding-left: 0px
    li
      display: inline
      list-style-type: none
      padding-right: 20px

  .biodata-row
    margin: 5px 0 5px 0

    .title
      font-weight: bold

section#sidebar
  +column(5, true)
  float: none
  display: inline-block

  h4
    margin: 5px 0
  ul 
    padding-left: 0px
    margin-top: 5px
    li
      list-style-type: none


section#illustrations
  +column(19)
  display: inline-block

  #virus-images
    +column(17)
    margin-left: 10px

  .movement
    +column(1)
    input 
      height: 150px

  .small-images
    display: inline-block

// Tabbed Sections

div#tabs
  width: 960px
  display: inline-block
  margin: 5px 0 5px 0
  padding-left: 0px
  li
    display: inline
    list-style-type: none
    padding-right: 20px

div#association-energies, div#qscores
  table, tbody, tr
    +column(24, true)
  th, td
    +column(4, true)
    text-align: center

div#accessible-surface-profiles
  .js-asa-chart
    float: left
    margin-bottom: 15px

  p.title
    text-indent: 15px
    margin: 10px 0 5px 0

